@mixin maindiv {
    display: flex;
    align-items: center;
    &--para {
        width: 90vw;
    }
}

@mixin toppage {
    &--links {
        margin-top: 30vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 40px;
    }
}
